<div class="bg-gray-950">
  <div class="px-4 py-5 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
    <div class="relative  grid items-center grid-cols-2 lg:grid-cols-3">
      <ul class="flex items-center space-x-8 lg:flex">
        <li><a href="/" aria-label="Our product" title="Our product"
               class="font-medium tracking-wide text-gray-100 transition-colors duration-200 hover:text-green-800 font-mono">Club</a>
        </li>
        <li><a href="/" aria-label="Our product" title="Our product"
               class="font-medium tracking-wide text-gray-100 transition-colors duration-200 hover:text-green-800 font-mono">Players</a>
        </li>
        <li><a href="/" aria-label="Product pricing" title="Product pricing"
               class="font-medium tracking-wide text-gray-100 transition-colors duration-200 hover:text-green-800 font-mono">News</a>
        </li>
      </ul>
      <a href="/" aria-label="BCM" title="BCM" class="inline-flex items-center lg:mx-auto">
        <svg class="w-8 " fill="#2e7d32"  id="" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 338.814 338.814" >
          <path d="M332.342,303.989l-145.46-133.717L334.151,10.061c2.192-2.385,2.096-6.078-0.217-8.345c-2.313-2.267-6.009-2.29-8.348-0.051
	L167.729,152.67L10.062,7.739C7.677,5.547,3.983,5.643,1.717,7.956c-2.267,2.313-2.29,6.007-0.051,8.348l147.466,154.157
	L9.25,304.271c-3.922,3.765-6.113,8.833-6.168,14.27c-0.056,5.437,2.031,10.549,5.876,14.395c3.791,3.79,8.829,5.877,14.188,5.877
	c5.587,0,10.963-2.354,14.758-6.467l130.391-141.851l135.978,142.147c3.766,3.924,8.834,6.117,14.27,6.173
	c0.071,0,0.143,0.001,0.214,0.001c5.356,0,10.384-2.082,14.179-5.876c3.9-3.901,5.986-9.086,5.874-14.602
	C338.697,312.825,336.402,307.731,332.342,303.989z M304.792,315.824l-8.297-8.673l10.324-10.324l8.842,8.128L304.792,315.824z
	 M174.017,166.536c-0.01,0.011-0.022,0.018-0.032,0.029s-0.016,0.024-0.026,0.035L53.196,297.976l-9.782-9.781l155.549-148.797
	L174.017,166.536z M36.94,315.661l-10.872-10.872l8.673-8.297l10.327,10.327L36.94,315.661z M139.41,142.939l19.629,18.044
	l-1.237,1.183L139.41,142.939z M17.444,324.45c-1.545-1.545-2.384-3.601-2.362-5.787c0.022-2.111,0.85-4.079,2.321-5.569
	l11.395,11.395c-1.516,1.495-3.504,2.323-5.652,2.323C20.992,326.812,18.967,325.973,17.444,324.45z M178.762,179.107
	l119.215,109.591l-9.779,9.779L176.432,181.641L178.762,179.107z M324.449,324.454c-1.525,1.524-3.545,2.361-5.697,2.361
	c-0.028,0-0.057,0-0.086,0c-2.111-0.022-4.078-0.852-5.569-2.324l11.392-11.392c1.453,1.472,2.279,3.401,2.321,5.484
	C326.857,320.799,326.018,322.885,324.449,324.454z" />
        </svg>
        <span class="ml-2 text-xl font-bold tracking-wide text-gray-100 uppercase font-mono ">BCM</span>
      </a>
      <ul class="items-center hidden ml-auto space-x-8 lg:flex">
        <li>
          <a href="/login" aria-label="Sign in" title="Sign in"
             class="font-mono group relative inline-block overflow-hidden rounded px-12 py-3 text-sm font-medium text-white hover:text-green-800 focus:outline-none focus:ring ">
            <span
              class="ease absolute left-0 top-0 h-0 w-0 border-t-2 border-green-800 transition-all duration-200 group-hover:w-full"></span>
            <span
              class="ease absolute right-0 top-0 h-0 w-0 border-r-2 border-green-800 transition-all duration-200 group-hover:h-full"></span>
            <span
              class="ease absolute bottom-0 right-0 h-0 w-0 border-b-2 border-green-800 transition-all duration-200 group-hover:w-full"></span>
            <span
              class="ease absolute bottom-0 left-0 h-0 w-0 border-l-2 border-green-800 transition-all duration-200 group-hover:h-full"></span>
            Sign in
          </a>
        </li>

        <li>
          <a href="/register" aria-label="Sign up" title="Sign up"
             class=" font-mono group relative inline-block overflow-hidden rounded px-12 py-3 text-sm font-medium text-green-800 bg-white hover:text-white hover:bg-green-800 focus:outline-none focus:ring ">
            <span
              class="ease absolute left-0 top-0 h-0 w-0 border-t-2 border-white transition-all duration-200 group-hover:w-full"></span>
            <span
              class="ease absolute right-0 top-0 h-0 w-0 border-r-2 border-white transition-all duration-200 group-hover:h-full"></span>
            <span
              class="ease absolute bottom-0 right-0 h-0 w-0 border-b-2 border-white transition-all duration-200 group-hover:w-full"></span>
            <span
              class="ease absolute bottom-0 left-0 h-0 w-0 border-l-2 border-white transition-all duration-200 group-hover:h-full"></span>
            Sign up
          </a>
        </li>
      </ul>
      <!-- Mobile menu -->
      <div class="ml-auto lg:hidden">
        <button aria-label="Open Menu" title="Open Menu"
                class="p-2 -mr-1 transition duration-200 rounded focus:outline-none focus:shadow-outline">
          <svg class="w-5 text-gray-600" viewBox="0 0 24 24">
            <path fill="currentColor" d="M23,13H1c-0.6,0-1-0.4-1-1s0.4-1,1-1h22c0.6,0,1,0.4,1,1S23.6,13,23,13z"></path>
            <path fill="currentColor" d="M23,6H1C0.4,6,0,5.6,0,5s0.4-1,1-1h22c0.6,0,1,0.4,1,1S23.6,6,23,6z"></path>
            <path fill="currentColor" d="M23,20H1c-0.6,0-1-0.4-1-1s0.4-1,1-1h22c0.6,0,1,0.4,1,1S23.6,20,23,20z"></path>
          </svg>
        </button>
        <!-- Mobile menu dropdown
        <div class="absolute top-0 left-0 w-full">
          <div class="p-5 bg-white border rounded shadow-sm">
            <div class="flex items-center justify-between mb-4">
              <div>
                <a href="/" aria-label="Company" title="Company" class="inline-flex items-center">
                  <svg class="w-8 text-green-900" viewBox="0 0 24 24" stroke-linejoin="round" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" stroke="currentColor" fill="none">
                    <rect x="3" y="1" width="7" height="12"></rect>
                    <rect x="3" y="17" width="7" height="6"></rect>
                    <rect x="14" y="1" width="7" height="6"></rect>
                    <rect x="14" y="11" width="7" height="12"></rect>
                  </svg>
                  <span class="ml-2 text-xl font-bold tracking-wide text-gray-800 uppercase">Company</span>
                </a>
              </div>
              <div>
                <button aria-label="Close Menu" title="Close Menu" class="p-2 -mt-2 -mr-2 transition duration-200 rounded hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline">
                  <svg class="w-5 text-gray-600" viewBox="0 0 24 24">
                    <path
                      fill="currentColor"
                      d="M19.7,4.3c-0.4-0.4-1-0.4-1.4,0L12,10.6L5.7,4.3c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4l6.3,6.3l-6.3,6.3 c-0.4,0.4-0.4,1,0,1.4C4.5,19.9,4.7,20,5,20s0.5-0.1,0.7-0.3l6.3-6.3l6.3,6.3c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3 c0.4-0.4,0.4-1,0-1.4L13.4,12l6.3-6.3C20.1,5.3,20.1,4.7,19.7,4.3z"
                    ></path>
                  </svg>
                </button>
              </div>
            </div>
            <nav>
              <ul class="space-y-4">
                <li><a href="/" aria-label="Our product" title="Our product" class="font-medium tracking-wide text-gray-700 transition-colors duration-200 hover:text-green-900">Product</a></li>
                <li><a href="/" aria-label="Our product" title="Our product" class="font-medium tracking-wide text-gray-700 transition-colors duration-200 hover:text-green-900">Features</a></li>
                <li><a href="/" aria-label="Product pricing" title="Product pricing" class="font-medium tracking-wide text-gray-700 transition-colors duration-200 hover:text-green-900">Pricing</a></li>
                <li><a href="/" aria-label="Sign in" title="Sign in" class="font-medium tracking-wide text-gray-700 transition-colors duration-200 hover:text-green-900">Sign in</a></li>
                <li>
                  <a
                    href="/"
                    class="inline-flex items-center justify-center w-full h-12 px-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md bg-green-900 hover:bg-deep-purple-accent-700 focus:shadow-outline focus:outline-none"
                    aria-label="Sign up"
                    title="Sign up"
                  >
                    Sign up
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        -->
      </div>
    </div>
  </div>
</div>
