<section id="gradient" class="flex justify-center items-center p-20 w-full border-b border-solid border-neutral-800 md:px-5 md:max-w-full">
  <article class="px-20 flex flex-col mt-16 mb-5 w-full max-w-[1358px] md:mt-10 md:max-w-full">
    <header>
      <h1 class="text-4xl font-semibold text-white leading-[72px] md:text-4xl">Reset Your Password</h1>
    </header>
    <p class="mt-3.5 text-lg font-medium leading-7 text-neutral-400 md:max-w-full">Enter a new password for your account.</p>
  </article>
</section>

<main class="mx-auto p-20 w-full shadow-sm max-md:max-w-full md:w-1/2">
  <section class="flex flex-col gap-6 max-md:flex-col max-md:gap-0">
    <div class="flex flex-col max-md:w-full">
      <form class="flex flex-col mt-6">
        <div class="w-full">
          <label for="new-password" class="sr-only">New Password</label>
          <input [(ngModel)]="password" id="new-password" type="password" name="new-password" placeholder="Enter your New Password"
                 class="w-full p-4 mt-4 px-6 py-4 leading-tight text-lg text-gray-400 bg-neutral-900 border-neutral-800 border rounded-lg shadow appearance-none focus:outline-none focus:shadow-outline focus:text-white"/>
        </div>
        <div class="w-full">
          <label for="confirm-password" class="sr-only">Confirm Password</label>
          <input [(ngModel)]="confirmPassword" id="confirm-password" type="password" name="confirm-password" placeholder="Confirm New Password"
                 class="w-full p-4 mt-4 px-6 py-4 leading-tight text-lg text-gray-400 bg-neutral-900 border-neutral-800 border rounded-lg shadow appearance-none focus:outline-none focus:shadow-outline focus:text-white"/>
        </div>
        <button (click)="resetPassword()" type="submit" class="w-full text-lg px-12 py-3 bg-violet-600 text-white rounded-lg mt-8">Reset Password</button>
      </form>
    </div>
  </section>
</main>
