<h2 class="text-xl font-semibold mb-4">
  Add Club
  <hr class="my-2">
</h2>

<form [formGroup]="clubForm" (ngSubmit)="addClub()">
  <div class="mb-4">
    <label for="name" class="block mb-1">Name:</label>
    <input id="name" type="text" formControlName="name" class="w-full px-3 py-2 border rounded">
  </div>

  <div class="mb-4">
    <label for="description" class="block mb-1">Description:</label>
    <textarea id="description" formControlName="description" class="w-full px-3 py-2 border rounded"></textarea>
  </div>

  <div class="mb-4">
    <label for="address" class="block mb-1">Address:</label>
    <input id="address" type="text" formControlName="address" class="w-full px-3 py-2 border rounded">
  </div>

  <div class="mb-4">
    <label for="openingHour" class="block mb-1">Opening Hour:</label>
    <input id="openingHour" type="time" formControlName="openingHour" class="w-full px-3 py-2 border rounded">
  </div>

  <div class="mb-4">
    <label for="closeHour" class="block mb-1">Close Hour:</label>
    <input id="closeHour" type="time" formControlName="closeHour" class="w-full px-3 py-2 border rounded">
  </div>

  <div class="mb-4">
    <label for="numberOfToken" class="block mb-1">Number of Token:</label>
    <input id="numberOfToken" type="number" formControlName="numberOfToken" class="w-full px-3 py-2 border rounded">
  </div>

  <div class="mb-4">
    <label for="image" class="block mb-1">Image:</label>
    <input (change)="onImageChange($event)"  id="image" type="file" class="w-full px-3 py-2 border rounded">
  </div>

  <div class="mb-4">
    <label for="city" class="block mb-1">City:</label>
    <select id="city" formControlName="cityId" class="w-full px-3 py-2 border rounded">
      <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
    </select>
  </div>

  <!-- Add checkboxes for selecting services -->
  <div class="mb-4">
    <label class="block mb-1">Services:</label>
    <div *ngFor="let service of services" class="flex items-center">
      <input type="checkbox"  [value]="service" (change)="onCheckboxChange($event)">
      <span>{{ service }}</span>
    </div>
  </div>

  <!-- Submit button -->
  <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Create Club</button>
</form>
