<app-navbar/>
<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <div class="mb-10 border-t border-b divide-y">
    <div class="grid py-8 sm:grid-cols-4" *ngFor="let item of data.slice(0, displayedArticles)">
      <div class="mb-4 sm:mb-0">
        <div class="space-y-1 text-xs font-bold tracking-wide uppercase">
          <p class="text-white font-mono font-bold">{{ item.date }}</p>
          <a [href]="item.article_href" class="transition-colors duration-200 text-green-400 hover:text-green-800" aria-label="Category">See Details >></a>
        </div>
      </div>

      <div class="sm:col-span-3 lg:col-span-2">
        <div class="mb-3">
          <a [href]="item.article_href" aria-label="Article" class="inline-block text-white transition-colors duration-200 hover:text-green-700">
            <p class="text-2xl font-mono  sm:text-4xl xl:text-4xl mb-2 ">
              {{ item.title }}
            </p>
          </a>
          <img [src]="item.image" alt="{{ item.title }}" class="w-full h-52  object-cover">
          <p class="text-gray-600">{{ item.article }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <a *ngIf="!showAll" (click)="toggleDisplay()" aria-label="" class="inline-flex items-center font-bold cursor-pointer transition-colors duration-200 text-green-400 hover:text-green-800">
      See all articles
      <svg class="inline-block w-3 ml-2" fill="currentColor" viewBox="0 0 12 12">
        <path d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z"></path>
      </svg>
    </a>
    <a *ngIf="showAll" (click)="toggleDisplay()" aria-label="" class="inline-flex items-center font-bold cursor-pointer transition-colors duration-200 text-green-400 hover:text-green-800">
      See less
      <svg class="inline-block w-3 ml-2" fill="currentColor" viewBox="0 0 12 12">
        <path d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z"></path>
      </svg>
    </a>
  </div>
</div>

<app-footer/>
